.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.display-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
  gap: 8px;
  padding: 16px;
  max-height: 100%;
}
