<!-- <p>home works: {{value}}</p> -->

<div class="container">
  <div class="heading">
    <h1>Simon Sees 👀</h1>
  </div>
  <div class="difficulty">
    <mat-form-field>
      <mat-label>Difficulty</mat-label>
      <mat-select [(ngModel)]="selectedLevel" name="food">
        @for (level of levels; track level) {
        <mat-option [value]="level">{{ level }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <div class="play">
    <button mat-flat-button color="primary" (click)="play()">Play</button>
  </div>
  <!-- <home [value]="value" />
    <button (click)="changeValue()">Change value</button> -->
</div>
